html {
  box-sizing: border-box;
  font-size: 18px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #e1e8f8 0%,
    #e1e8f8 42%,
    #feb800 42%,
    #feb800 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #313131;
  height: 440px;
  width: 280px;
  border-radius: 12px;
  box-shadow: #00000026 0px 15px 25px, #0000000d 0px 5px 10px;
}

.screen {
  height: 30%;
  border-bottom: #feb800 solid 2px;
}

.num-pad {
  height: 70%;
  /* background-color: aliceblue;
  border-radius: 0 0 12px 12px; */
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  height: 16.5%;
  padding: 20px 39px 15px 39px;
  justify-content: space-between;
  gap: 1px;
}

.row.last {
  justify-content: flex-end;
}

button.operators{
  color: #feb800;
  /* font-weight: bold; */
}

button.operators.larger{
  font-size: 1.25rem;
  
}

button {
  font-family: 'Albert Sans', serif;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  transition: .3s ease-in-out;
}

button:hover{
  background-color: #474747;
  transition: .1s ease-in-out;
}

button:active{
  transform: scale(0.93);
  transition: .15s ease-out;
}
