* {
  margin: o;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #e1e8f8 0%,
    #e1e8f8 42%,
    #feb800 42%,
    #feb800 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #313131;
  height: 440px;
  width: 280px;
  border-radius: 12px;
}

.screen{
  height: 30%;
  border-bottom: #feb800 solid 2px;
}

.num-pad{
  height: 70%;
  /* background-color: aliceblue;
  border-radius: 0 0 12px 12px; */
}
